<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/item/new" method="post">
    상품이름<input type="text" placeholder="상품이름" name="name"> <br>
    가격<input type="text" placeholder="가격" name="price"> <br>
    수량<input type="text" placeholder="수량" name="stockQuantity"> <br>
    브랜드이름<input type="text" placeholder="브랜드이름" name="brandName"> <br>
    카테고리
    <input type="checkbox" name="category" value="책"> 책
    <input type="checkbox" name="category" value="앨범"> 앨범
    <input type="checkbox" name="category" value="영화"> 영화
    <input type="submit" value="등록">
</form>
</body>
</html>